In [120]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
#from config import api_key

api_key = "ad9d7bc714dd32d3202f1718069b354ef0a2735b"

c = Census(api_key, year=2016)

In [121]:
zipcodes_df = pd.read_csv("zipcodes_in_LA_counties.csv")
zipcodes_df = zipcodes_df.rename(columns={"zip": "Zipcode"})
zipcodes_df.head()

        County  Zipcode
0  Los Angeles    90001
1  Los Angeles    90002
2  Los Angeles    90003
3  Los Angeles    90004
4  Los Angeles    90005

In [122]:

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E","B19301_001E","B17001_002E",
                            "B23025_004E","B23025_002E","B23025_005E"),{'for': 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_004E": "employment_employed",
                                      "B23025_002E": "Labor_force",
                                      "B23025_005E": "employment_unemployed",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Employment Rate"] = 100 * \
    census_pd["employment_employed"].astype(
        int) / census_pd["Labor_force"].astype(int)
    
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["employment_unemployed"].astype(
        int) / census_pd["Labor_force"].astype(int)
    
#Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","employment_employed","Labor_force","employment_unemployed",
                      "Employment Rate", "Unemployment Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,employment_employed,Labor_force,employment_unemployed,Employment Rate,Unemployment Rate
0,01001,17423.0,45.0,56714.0,30430.0,1462.0,8.391207,8715.0,9211.0,479.0,94.615134,5.200304
1,01002,29970.0,23.2,48923.0,26072.0,8351.0,27.864531,15180.0,16451.0,1271.0,92.274026,7.725974
2,01003,11296.0,19.9,2499.0,3829.0,54.0,0.478045,4258.0,5279.0,1021.0,80.659216,19.340784
3,01005,5228.0,44.1,70568.0,32169.0,230.0,4.399388,2835.0,2988.0,153.0,94.879518,5.120482
4,01007,14888.0,42.5,80502.0,36359.0,1410.0,9.470715,8050.0,8593.0,543.0,93.680903,6.319097

In [123]:
census_data_2 = c.acs5.get(("NAME", "B01002_002E", "B01002_003E", "B08136_011E","B15003_002E","B01001_002E",
                            "B01001_026E"),{'for': 'zip code tabulation area:*'})

census_pd_2 = pd.DataFrame(census_data_2)

census_pd_2 = census_pd_2.rename(columns={"B01002_002E": "Median_male_age",
                                      "B01002_003E": "Median_female_age",
                                      "B08136_011E": "Walkable_time_min",
                                      "B15003_002E": "Education_none",
                                      "B01001_002E": "Male_population",
                                      "B01001_026E": "Female_population",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

#Final DataFrame
census_pd_2 = census_pd_2[["Zipcode", "Median_male_age", "Median_female_age", "Walkable_time_min","Education_none", 
                           "Male_population", "Female_population"]]

# Visualize
print(len(census_pd_2))
census_pd_2.head()

33120

,Zipcode,Median_male_age,Median_female_age,Walkable_time_min,Education_none,Male_population,Female_population
0,01001,41.6,48.1,NaN,69.0,8059.0,9364.0
1,01002,23.3,23.2,19100.0,212.0,14536.0,15434.0
2,01003,19.9,19.9,NaN,0.0,5694.0,5602.0
3,01005,41.6,47.4,NaN,0.0,2798.0,2430.0
4,01007,40.2,43.8,NaN,18.0,7224.0,7664.0

In [124]:
census_data_3 = c.acs5.get(("NAME", "B14002_001E", "B16003_002E", "B16003_008E","B19083_001E"),{'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd_3 = pd.DataFrame(census_data_3)

# Column Reordering
census_pd_3 = census_pd_3.rename(columns={"B14002_001E": "Students_population",
                                       "B16003_002E": "Population_from_5_17",
                                       "B16003_008E": "Population_18_over",
                                       "B19083_001E": "Gini_index",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
    
#Final DataFrame
census_pd_3 = census_pd_3[["Zipcode", "Students_population", "Population_from_5_17", "Population_18_over","Gini_index"]]
                        
# Visualize
print(len(census_pd_3))
census_pd_3.head()

33120

,Zipcode,Students_population,Population_from_5_17,Population_18_over,Gini_index
0,01001,17029.0,14.0,153.0,0.4052
1,01002,29476.0,71.0,564.0,0.5258
2,01003,11296.0,0.0,0.0,0.5861
3,01005,5156.0,0.0,0.0,0.4053
4,01007,14518.0,9.0,263.0,0.4300

In [125]:
# Merge two dataframes using an inner join
merge_table_1 = pd.merge(census_pd, census_pd_2, on="Zipcode")
merge_table_1.head()
print(len(merge_table_1))

33120

In [126]:
# Merge two dataframes using an inner join
merge_table_total = pd.merge(merge_table_1, census_pd_3, on="Zipcode")
merge_table_total.head()
#print(len(merge_table_total))

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,employment_employed,Labor_force,employment_unemployed,...,Median_male_age,Median_female_age,Walkable_time_min,Education_none,Male_population,Female_population,Students_population,Population_from_5_17,Population_18_over,Gini_index
0,01001,17423.0,45.0,56714.0,30430.0,1462.0,8.391207,8715.0,9211.0,479.0,...,41.6,48.1,NaN,69.0,8059.0,9364.0,17029.0,14.0,153.0,0.4052
1,01002,29970.0,23.2,48923.0,26072.0,8351.0,27.864531,15180.0,16451.0,1271.0,...,23.3,23.2,19100.0,212.0,14536.0,15434.0,29476.0,71.0,564.0,0.5258
2,01003,11296.0,19.9,2499.0,3829.0,54.0,0.478045,4258.0,5279.0,1021.0,...,19.9,19.9,NaN,0.0,5694.0,5602.0,11296.0,0.0,0.0,0.5861
3,01005,5228.0,44.1,70568.0,32169.0,230.0,4.399388,2835.0,2988.0,153.0,...,41.6,47.4,NaN,0.0,2798.0,2430.0,5156.0,0.0,0.0,0.4053
4,01007,14888.0,42.5,80502.0,36359.0,1410.0,9.470715,8050.0,8593.0,543.0,...,40.2,43.8,NaN,18.0,7224.0,7664.0,14518.0,9.0,263.0,0.4300

In [127]:
merge_table_total.to_csv("total_census.csv", encoding="utf-8", index=False, header=True)

In [128]:
import numpy as np
merge_table_total['Zipcode']=merge_table_total['Zipcode'].astype(np.int64)

los_angeles_census_df = pd.merge(merge_table_total, zipcodes_df, on="Zipcode")
los_angeles_census_df.to_csv("los_angeles_census.csv", encoding="utf-8", index=False, header=True)